body {
    font-family: 'Nunito', sans-serif;
}

:root[data-bs-theme="light"] body {
  background-color: #f1ecdf;
  color: #000000;
}

:root[data-bs-theme="dark"] body {
  background-color: #121212;
  color: #f8f9fa;
}